.page {
  /*padding: 200px 0 0 0;*/
  text-align: center;
  
  &.page-home {
    /*background: #000000;*/
    color: #00907c;
/*    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid white;*/
  }

  &.page-lyric {
    background: #E59400;
    color: #a55400;
  }
}