# --------------------
# Bower Files
# --------------------
.bower-*/
bower_components

# --------------------
# Destination Files
# --------------------
build

# --------------------
# Sass Cache Files
# --------------------
.sass-cache/

# --------------------
# Node Files
# --------------------
node_modules
