<!-- public/views/home.html -->

<!--
<div id="specs-main" class="specs_content" load-lazily data-original="../css/images/bg/main-bg.jpg" data-bottom-top="background-position: 50% -440px;" data-top-bottom="background-position: 50% 260px;">
-->
<div id="specs-main" class="specs_content" data-bottom-top="background-position: 50% -440px;" data-top-bottom="background-position: 50% 260px;">
  <div class="specs-container">
    <div class="center-content">      
      <h1 class="top-spec">Welcome</h1>
      <h1 class="second-spec">Knowledge Sharing</h1>
      <h2 class="top-spec">With Knowledge For Sharing</h2>
      <ul>
        <li>We can learn more</li>
        <li>You can sharing your knowledge to every people</li>
        <li>You can find any knowledge from here</li>
      </ul>
    </div>
  </div>
</div>
<div class="specs_content" load-lazily data-original="../css/images/bg/lyrics-bg.jpg" data-bottom-top="background-position: 50% -440px;" data-top-bottom="background-position: 50% 260px;">
  <div class="specs-container">
    <div class="left-content">  
      <h1 class="top-spec">With Lyrics Library</h1>
      <ul>
        <li>You can get it anywhere, anytime</li>
        <li>You can sharing it to every people</li>
        <li>You can add new lyric</li>
      </ul>
    </div>
  </div>
</div>
<div class="specs_content" load-lazily data-original="../css/images/bg/food-bg.jpg" data-bottom-top="background-position: 50% -440px;" data-top-bottom="background-position: 50% 260px;">
  <div class="specs-container">
    <div class="right-content">      
      <h1 class="top-spec">Foods Handbook</h1>
      <ul>
        <li>You can get it anywhere, anytime</li>
        <li>You can sharing it to every people</li>
        <li>You can add new lyric</li>
      </ul>
    </div>
  </div>
</div>
<div class="specs_content" load-lazily data-original="../css/images/bg/tip-bg.jpg" data-bottom-top="background-position: 50% -440px;" data-top-bottom="background-position: 50% 260px;">
  <div class="specs-container">
    <div class="left-content">      
      <h1 class="top-spec">Tip & Tricks</h1>
      <ul>
        <li>You can get it anywhere, anytime</li>
        <li>You can sharing it to every people</li>
        <li>You can add new lyric</li>
      </ul>
    </div>
  </div>
</div>