<!-- public/views/home.html -->

<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
<div class="specs_content">
  <h1>Home Page 4 Knowledge</h1>
  <p>{{ tagMessage }}</p>
</div>
